body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f8fa;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.sidebar {
    width: 25%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 75%;
    padding: 15px;
    background-color: #fff;
    margin-left: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

h2 {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #007acc;  /* Added color for header titles */
}

.job-listings .job, .skills-progress .skill {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 10px 0;
}

.job-listings .job:hover, .skills-progress .skill:hover {
    background-color: #f2f2f2;  /* Added hover effect */
}

.skills-progress .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

progress {
    width: 70%;
    height: 20px;
    color: #007acc;  /* Added color for the progress bars */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.sidebar li:hover {
    background-color: #f2f2f2;  /* Added hover effect for sidebar */
}

